{% extends 'home/layout.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
{% include "home/navigation.html" %}
{% else %}
{% include "home/login_banner.html" %}
{% endif %}


<h1>Register</h1>

{% if message %}
    <div class="message"><strong>{{message}}</strong></div>
{% endif %}

<form action=" {% url 'home:create' %} " method="post">
    {% csrf_token %}
    <fieldset class="field-col">
        <legend>Required</legend>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="confirmation">Confirm Password</label>
        <input type="password" name="confirmation" id="confirmation" required>
        {% if request.user.is_superuser %}
        <fieldset>
            <legend>Superuser</legend>
            <input type="radio" name="superuser" id="yes" value="YES" required>
            <label for="yes">Yes</label>
            <input type="radio" name="superuser" id="no" value="NO" required>
            <label for="no">No</label>            
        </fieldset>
        {% else %}
        <input type="hidden" name="superuser" id="no" value="NO">       
        {% endif %}
    
    </fieldset>
    <fieldset class="field-col">
        <legend>Optional</legend>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
    </fieldset>
    <fieldset>
        <input type="submit" value="Submit"> 
        <input type="reset" value="Cancel">
    </fieldset>
</form>


{% endblock content %}