
/* Custom properties/variables  */

:root {
    --main-white: #f0f0f0;
    --main-yellow: #f1db17;
    --main-blue: #1588e5;
    --main-black: #000000;
  }
  
  /* Base reset */
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */
  
  /* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
    #intro {
      font-size: 2.25rem;
    }
    #welcome-message {
      font-size: 4.5rem;
    }
  }
  
  /* Base styles */

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-black);
  }
  
  h1,
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }

  textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
  } 
  
  input{
    width: 100%;
  }

  input[type=radio]{
    width: fit-content;
  }

  input[type=submit]{
    width: fit-content;
  }

  button{
    width: fit-content;
  }



  .btn_anker a{
    font: bold 16px 'Verdana';
    text-decoration: none;
    border: none;
    color: var(--main-black);

  }

  .btn_anker a:hover{
    color: var(--main-blue);
  }



  .buttons{
    display: flex;
    justify-content: flex-end ;
  }
  

  img {
    display: block;
    width: 100%;
  }



  .forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 1em;
  }

  .sections{
    margin: 1em;
    width: auto;
    height: auto;
  }

  table { 
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  
  th, td {
    padding: 15px;
    text-align: left;
  }

  /* nav */
  
  .nav {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-black);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  .modnav{
    display: flex;
    background-color: var(--main-black);
  }

  .nav-list {
    display: flex;
    justify-self: start;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    text-decoration: none;
    color: var(--main-white);
    font-size: 2.2rem;
    padding: 2rem;
  }

  .modnav a{
    display: block;
    text-decoration: none;
    display: block;
    color: var(--main-yellow);
    font-size: 2.2rem;
    padding: 2rem;
  }
  

  .nav-list a:hover {
    color: var(--main-black);
    background: var(--main-blue);
  }

  .modnav a:hover{
    color: var(--main-blue);
    background: var(--main-black);
  }
  
/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-black);
  min-width: 160px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  padding: 0px ;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}