{% extends 'budgets/layout.html' %}

{% block title %}{{budget_name}}{% endblock title %}

{% block content %}
{% include 'budgets/navigation.html' %}
<h1>{{budget_name}}</h1>
{% if message %}
    <div>{{ message }}</div>
{% elif category_list %}
    <table>
        <tr>
            <th colspan="2">{{budget_name}}</th>
        </tr>
    {% for category in category_list  %}
        <tr>
            <td>
                <a href=" {% url 'budgets:entries' username=user.username category_name=category.category_text category_id=category.id %} ">{{ category.category_text}}</a>
            </td>
            <td class="btn_anker"><a href="{% url 'users:index' %}" >Edit</a></td>
    {% endfor %}
    </table>
{% else %}
    <p>No categories available.</p>
{% endif %}
{% endblock content %}