{% extends 'budgets/layout.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}
{% include 'budgets/navigation.html' %}
<h1>{{budget.budget_text}}</h1>

<table>
    <tr>
        <th>Description</th>
    </tr>
{% for category in budget.category_set.all  %}
    <tr>
        <td><a href=" {% url 'budgets:entries' category.id %} ">{{ category.category_text}}</a></td>
        <td><button><a href="" class="button">Edit</a></button></td>
    </tr>
{% endfor %}
</table>
{% endblock content %}