{% extends 'budgets/layout.html' %}

{% block title %}{{category_name}}{% endblock title %}

{% block content %}
{% include 'budgets/navigation.html' %}
<h1>{{category_name}}</h1>
{% if message %}
    <div>{{ message }}</div>
{% elif entry_list %}
    <table>
        <tr>
            <th>Entry</th>
            <th>Costs</th>
        </tr>
    {% for entry in entry_list  %}
        <tr>
            <td>{{ entry.entry_text}}</td>
            <td>sFr. {{entry.costs}}.-</td>
            <td class="btn_anker"><a href="{% url 'users:index' %}" >Edit</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No entries available.</p>
{% endif %}
{% endblock content %}