{% extends 'budgets/layout.html' %}
{% load budgets_extras %}

{% block title %}Budgets{% endblock title %}

{% block content %}
{% include 'budgets/navigation.html' %}
<h1>Budgets</h1>
{% if message %}
<div class="message">{{ message }}</div>
{% elif budget_list %}
    <table>
        <tr>
            <th>Description</th>
            <th>Funds</th>
            <th>Costs</th>
            <th>Savings</th>
            <th colspan="2">Timeperiod</th>
        </tr>
    {% for budget in budget_list  %}
        <tr>
            <td><a href=" {% url 'budgets:categories' username=user.username budget_id=budget.id budget_name=budget.budget_text %} ">{{ budget.budget_text}}<a/></td>
            <td>sFr. {{budget.funds}}.-</td>
            <td>sFr. {% get_budget_costs budget %}.-</td>
            <td>sFr.{% get_savings budget %}</td>
            <td>{{budget.start_date}} - {{budget.end_date}}</td>
            <div class="btn_hover">
            <td class="btn_anker"><a href="{% url 'home:index' %}" >Edit</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No budgets are available.</p>
{% endif %}

{% endblock content %}