{% extends 'budgets/layout.html' %}

{% block title %}Budgets{% endblock title %}

{% block content %}
{% include 'budgets/navigation.html' %}
<h1>Budgets</h1>
{% if message %}
<div>{{ message }}</div>
{% elif budget_list %}
    <table>
        <tr>
            <th>Description</th>
            <th>Funds</th>
            <th>Timeperiod</th>
        </tr>
    {% for budget in budget_list  %}
        <tr>
            <td><a href=" {% url 'budgets:categories' budget_name=budget.budget_text username=user.username %} ">{{ budget.budget_text}}<a/></td>
            <td>sFr. {{budget.funds}}.-</td>
            <td>{{budget.start_date}} - {{budget.end_date}}</td>
            <td><button><a href="" class="button">Edit</a></button></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No budgets are available.</p>
{% endif %}

{% endblock content %}