{% extends 'users/layout.html' %}

{% block title %}{% endblock title %}

{% block content %}
{% include "users/navigation.html" %}

<h1>{{username}}</h1>

<table>
    <tr>
        <th>Username:</th>
        <td>{{ account.username }}</td>
    </tr>
    <tr>
        <th>First Name:</th>
        <td>{{ account.first_name }}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{ account.last_name }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ account.email }}</td>
    </tr>
</table>


{% endblock content %}