{% extends "users/layout.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
{% include "users/login_banner.html" %}

    <h1>Log In</h1>

    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
{% endblock %}