<nav id="navbar" class="nav">
    <ul class="nav-list">
        <li><a href=" {% url 'users:index' %} ">Home</a></li>
        <li><a href=" {% url 'budgets:index' username=user.username %} ">Budgets</a></li>
        
    </ul>
    <ul class="modnav"> 
        <li><a href="#account">Account</a></li>
        <li><a href="#accounts">Accounts</a></li>
        <li><a href="{% url 'users:newuser' %}">Create New User</a></li>
        <li><a href=" {% url 'users:logout' %} ">Log Out</a></li> 
    </ul>
</nav>