{% extends "users/layout.html" %}

{% block content %}
{% include "users/navigation.html" %}
    <h1>Welcome, {{ request.user.first_name }}</h1>

    <h2>
        The intent of this project is to offer applications that help you with all the boring, tedious stuff that comes with adulthood. You know...responsibilities.
    </h2>
    <p>At the moment, the only app available is the budget app. <br> Home will bring you back to this page. <br> Account gives you an overview of your account and also allows you to edit information.</p>

{% endblock %}